@import '~antd-mobile/es/style/mixins/hairline';

.getBonus {
  background: url(../../assets/campaign1/phBg.png) no-repeat #f82e2c;
  padding: 8rem 15px 0;
}

.mark {
  background: url(../../assets/campaign1/markBg.png) no-repeat #f82e2c;
  padding: 4.6rem 15px 0;
}

.markSuccess {
  background: url(../../assets/campaign1/markSucc.png) no-repeat #f82e2c;
  padding: 8.6rem 15px 0;
}

.container {
  background-size: 100%;
  overflow: hidden;

  :global {
    .am-list-body {
      border-radius: 5px;
      &:before {
        background-color: unset !important;
      }
      &:after {
        background-color: unset !important;
      }
    }
    .am-list-item {
      min-height: 60px;
      background-color: unset;
    }

    .am-input-control input {
      font-size: 15px;
    }
  }
}

.btnArea {
  padding: 10px 20px;
  :global {
    .am-button {
      .hairline-remove('all');
      width: 8.4rem;
      height: 1.4rem;
      margin: auto;
      font-size: 0.53rem;
      line-height: 1.3rem;
      color: #9b1e23;
      background: url(../../assets/campaign1/button.png) no-repeat;
      background-size: 100% 100%;
    }
  }
}

.iconShared {
  width: 0.48rem;
  height: 0.48rem;
  margin-right: 0.2rem;
}

.gameRule {
  margin: 20px 0 30px;
  img {
    width: 100%;
    pointer-events: none;
  }
}

// 遮罩分享图片
.maskShare {
  float: right;
  width: 7rem;
  margin-top: 2rem;
  margin-right: 1rem;
  pointer-events: none;
}

// 遮罩手机号已领过
.maskUsedPhone, .maskMdm {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;

  img {
    width: 100%;
  }
}

.maskUsedPhone {
  img {
    margin-top: -3rem;
  }
}

.maskMdm {
  img {
    margin-top: -1.5rem;
  }
}

// 公众号二维码
.gzh {
  margin: 0.4rem 0;
  text-align: center;
  overflow: hidden;

  img {
    width: 2.67rem;
  }
  p {
    margin: 10px 0;
    color: #fcedcd;
    font-size: 12px;

    span {
      color: #fdd338;
    }
  }
}

// 标记地图
.map {
  width: 100%;
  height: 4rem;
}
