@import '~antd-mobile/es/style/mixins/hairline';

.getBonus {
  background: url(../../assets/campaign1/phBg.png) no-repeat #f82e2c;
  padding: 8rem 15px 0;
}

.mark {
  background: url(../../assets/campaign1/markBg.png) no-repeat #f82e2c;
  padding: 4.6rem 15px 0;
}

.markSuccess {
  background: url(../../assets/campaign1/markSucc.png) no-repeat #f82e2c;
  padding: 8.6rem 15px 0;
}

.guide {
  overflow: unset !important;
  background-color: #f82e2c;
  img {
    display: block;
    width: 100%;
  }
  .kgBtnArea {
    height: 5.227rem;
    padding-top: 1.5rem;
    background: url(../../assets/campaign1/guide/kg/3.png) no-repeat #f82e2c;
    background-size: 100%;
    :global {
      .am-button {
        margin: 0.3rem auto;
      }
    }
  }
  .phBtnArea {
    height: 4.68rem;
    padding-top: 2.1rem;
    background: url(../../assets/campaign1/guide/ph/2.png) no-repeat #f82e2c;
    background-size: 100%;
  }
}

.container {
  background-size: 100%;
  overflow: hidden;

  :global {
    .am-list-body {
      border-radius: 5px;
      &:before {
        background-color: unset !important;
      }
      &:after {
        background-color: unset !important;
      }
    }
    .am-list-item {
      min-height: 60px;
      background-color: unset;
    }

    .am-input-control input {
      font-size: 15px;
    }
  }
}

.btnArea {
  padding: 10px 20px;
  :global {
    .am-button {
      .hairline-remove('all');
      width: 8.4rem;
      height: 1.4rem;
      margin: auto;
      font-size: 0.53rem;
      line-height: 1.3rem;
      color: #9b1e23;
      background: url(../../assets/campaign1/button.png) no-repeat;
      background-size: 100% 100%;
    }
  }
}

img.iconReg,
.iconShared {
  display: unset;
  width: 0.48rem;
  height: 0.48rem;
  margin-right: 0.2rem;
  margin-bottom: -0.03rem;
}

img.iconReg {
  margin-bottom: 0.15rem;
}

.gameRule {
  margin: 20px 0 30px;
  padding: 6px;
  //background: url(../../assets/campaign1/gameRule.png) no-repeat;
  background-color: #d2201e;
  border-radius: 5px;
  color: #f8d2a1;
  font-size: 10px;

  .inner {
    padding: 10px 15px;
    background-color: #dc2a28;
    border: 1px dashed #fd7003;
    border-radius: 5px;

    h2 {
      font-size: 15px;
      color: #fcedcd;
    }

    ol {
      margin: 0;
      padding-left: 0;
      list-style: decimal inside;
      line-height: 22px;
    }

    a {
      color: #f8d2a1;
    }
  }
}

// 遮罩分享图片
.maskShare {
  width: 100vw;
  text-align: right;

  img {
    display: inline;
    width: 7rem;
    margin-top: 2rem;
    margin-right: 1rem;
    pointer-events: none;
  }
}

// 遮罩手机号已领过
.maskUsedPhone {
  width: 100vw;
  padding: 0 20px;

  img {
    width: 100%;
  }
}

.maskMdm {
  position: relative;
  width: 7.6rem;
  height: 11.493rem;
  background: url(../../assets/campaign1/markMdm.png) no-repeat;
  background-size: 100%;
  overflow: hidden;

  img {
    display: block;
    margin: 3.5rem auto 0;
    width: 4rem;
  }
}

// 公众号二维码
.gzh {
  margin: 0.4rem 0;
  text-align: center;
  overflow: hidden;

  img {
    width: 2.67rem;
  }
  p {
    margin: 10px 0;
    color: #fcedcd;
    font-size: 12px;

    span {
      color: #fdd338;
    }
  }
}

// 标记地图
.map {
  width: 100%;
  height: 4.5rem;
}

// 地图的信息覆盖物
:global {
  .mapInfo {
    position: absolute;
    width: 145px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    z-index: 100;

    &:after {
      content: '';
      position: absolute;
      left: 69px;
      bottom: -2.6px;
      width: 7px;
      height: 7px;
      background-color: #fff;
      transform: rotate(45deg);
    }

    p {
      margin: 0;
      padding: 5px;
      font-size: 12px;
      color: #666;

      &:first-child {
        position: relative;
        .hairline('top');
      }
    }
  }
}

// 地图相应的地址
.mapTip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 5px;

  p {
    margin: 0;
    font-size: 12px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
      text-align: right;
    }

    span {
      font-size: 15px;
      color: #f82e2c;
    }
  }
}
