<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>和谷学费宝</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=SIZBZ-7F6HO-74EWC-SKPZK-N6GHV-M7BD7"></script>
</head>
<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>
</html>
