.divide {
  content: '';
  display: block;
  height: 1px;
  margin: 20px 20px 10px;
  background-color: #d7d7d7;
}

.container {
  padding: 4rem 15px 0;
  background: url(../../assets/paymentBg.png) no-repeat;
  background-size: 100%;

  :global {
    .am-list-body {
      border-radius: 10px;
      &:before {
        background-color: unset !important;
      }
      &:after {
        background-color: unset !important;
      }
    }
    .am-list-item {
      min-height: 60px;
      background-color: unset;
    }

    .am-radio-inner {
      top: 23px !important;
    }

    .am-button {
      background: linear-gradient(-90deg, rgba(255, 178, 29, 1), rgba(255, 218, 137, 1));
      box-shadow: 1px 12px 24px 0 rgba(255, 206, 115, 0.5);
      border-radius: 30px !important;

      &:hover {
        color: unset;
      }

      &:before {
        border-width: 0 !important;
      }
    }

    .am-input-control input {
      font-size: 15px;
    }
  }
}

.cascade {
  :global {
    .am-list-content {
      color: #ccc !important;
      font-size: 15px !important;
    }
  }
}

.card {
  margin-bottom: 0;
  padding: 0 20px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;

  dt {
    padding-top: 20px;
    color: #171717;
    font-size: 18px;
    text-align: center;
    &:after {
      content: '';
      display: block;
      height: 1px;
      margin: 20px 0 10px;
      background-color: #d7d7d7;
    }
  }

  dd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: #999;

    &.footer {
      margin: 0 -20px;
      padding: 10px 20px;
      border-radius: 0 0 10px 10px;
      color: #171717;
      font-size: 15px;
      background-color: #fafafa;
    }

    small {
      color: #666;
      font-size: 12px;
    }

    .rate {
      color: #ff6857;
      font-size: 20px;
    }
  }
}

.btnArea {
  margin: 0 -15px;
  padding: 20px;
  background-color: #fff;
}

.btnPrice {
  font-size: 20px;
}
