@import '~antd-mobile/es/style/mixins/hairline';

html {
  font-size: 75px;
  @media (max-width: 750px) {
    font-size: 10vw;
  }
}

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

.am-list-body {
  border-radius: 5px;
  border-top: 0 !important;
  border-bottom: 0 !important;
  .hairline-remove('top');
  .hairline-remove('bottom');

  .am-list-item {
    min-height: 60px;
    padding-left: unset !important;
  }
  > div {
    margin: 0 15px;

    // 在list-body下第一级div增加下边框
    &:not(:last-child) {
      position: relative;
      .hairline('bottom');
    }
  }
}

// 让picker的extra左对齐
.am-list-extra {
  flex-basis: unset !important;
}

// 取消原版下边框
.am-list-line {
  .hairline-remove('bottom');
  border-bottom: none !important;
  padding-right: unset !important;
  .am-input-control input {
    font-size: 15px !important;
  }
}

.am-picker-popup-item {
  font-size: 14px !important;
}

.am-picker-col-indicator {
  border-color: #f1f1f1 !important;
  &:before,
  &:after {
    background-color: #f1f1f1 !important;
  }
}

.am-picker-popup-header {
  &:after {
    background-color: unset !important;
  }
}

.am-picker-col-item {
  font-size: 12px !important;
}

.am-picker-col-item-selected {
  font-size: 14px !important;
}
