@import '~antd-mobile/es/style/mixins/hairline';

.container {
  padding: 4rem 15px 0;
  background: url(../../assets/tuitionBg.png) no-repeat;
  background-size: 100%;

  :global {
    .am-radio-inner {
      top: 23px !important;
    }
  }
}

.card() {
  border-radius: 5px;
  background-color: #fff;
}

.title {
  .card;
  padding: 20px 15px;
  font-size: 17px;
  text-align: center;
}

.staging {
  .card;

  padding: 8px;

  .swiperWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
  }

  dl {
    flex: 0 1 calc(50% - 10px);
    min-height: 108px;
    margin: 5px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background-color: #fff;
  }
  dt {
    background-color: #e4e4e4;
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    line-height: 20px;
  }
  dd {
    text-align: center;
    margin-bottom: unset;
    padding: 10px 0;
    color: #d7d7d7;

    p {
      margin-bottom: 0;
      font-size: 12px;
      &:last-child {
        font-size: 18px;
      }
    }
    del {
      display: block;
      min-height: 16px;
      font-size: 12px;
    }
    small {
      font-size: 70%;
    }
  }

  .checked {
    border-color: #ed775a !important;
    box-shadow: #ed775a;
    dt {
      background-color: #ed775a;
      border-radius: 5px 5px 0 0;
    }
    p {
      color: #171717;
      &:last-child {
        color: #ed775a;
      }
    }
  }
}
// 优惠券
.coupon {
  .hairline('top');
  position: relative;
  margin: 20px 10px 10px;
  padding: 15px 0 0;

  div {
    &:first-child {
      padding-left: 32px;
      color: #171717;
      font-size: 14px;
      background: url(../../assets/icon/bonus.svg) no-repeat;
    }

    &:last-child {
      display: flex;
      color: #d7d7d7;
      font-size: 13px;
    }
  }
}

.btnArea {
  margin: 0 -15px;
  padding: 20px;
  background-color: #fff;

  :global {
    .am-button {
      background: #3183fa;
      border-radius: 30px !important;
      color: #fff;
      font-size: 16px !important;

      &:before {
        border-width: 0 !important;
      }
    }
  }
}
